body {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}

.home {
    background: lightseagreen;
    color: purple;
    padding: 2px;
    border: 2px solid purple;
    margin-right: 850px;
    text-align: center;

}

.title {
    background: lightseagreen;
    color: purple;
    padding: 12px;
    border: 5px solid purple;
    margin-right: 550px;
    text-align: center;
}

.list {
    background: lightseagreen;
    color: purple;
    border: 5px solid purple;
    margin-top: 0;
    margin-right: 550px;

}